<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="mystyle.css">
	<!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<center>
	<p><font  face="tahoma" size=4 color="#3b5998"> Hello, Shuai Tang! </font></p>
	<p><font  face="tahoma" size=4 color="#3b5998"> How socialable do you think you are? </p>
	<div id="status"></div>
	<script>
		document.getElementById('status').innerHTML = 
			'<img src="'+'1'+'.jpg" height=320>'
	</script>

	<div class="stars">
	  <form action="">
	    <input class="star star-7" id="star-7" type="radio" name="star"/>
	    <label class="star star-7" for="star-7"></label>
	    <input class="star star-6" id="star-6" type="radio" name="star"/>
	    <label class="star star-6" for="star-6"></label>
	    <input class="star star-5" id="star-5" type="radio" name="star"/>
	    <label class="star star-5" for="star-5"></label>
	    <input class="star star-4" id="star-4" type="radio" name="star"/>
	    <label class="star star-4" for="star-4"></label>
	    <input class="star star-3" id="star-3" type="radio" name="star"/>
	    <label class="star star-3" for="star-3"></label>
	    <input class="star star-2" id="star-2" type="radio" name="star"/>
	    <label class="star star-2" for="star-2"></label>
	    <input class="star star-1" id="star-1" type="radio" name="star"/>
	    <label class="star star-1" for="star-1"></label>
	  </form>
	</div>

	<div><font face="tahoma" size=4 color="#F62"> less socialable </font> <font face="tahoma" size=4 color="#3b5998">&#8660;</font> <font color="#005" face="tahoma" size=4 >most socialable </div>
</center> 
    <ul class="pager">
	    <li><a href="#">Previous</a></li>
	    <li><a href="index1.html?id=2">Next</a></li>
 	</ul>
</body>
</html>
